<div class="page-header">
  <h1>
    Merchants
    <a href="/merchants/new" class="btn btn-lg btn-success">New Merchant</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>

      <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.email %></td>
        <td><%= merchant.password %></td>
        <td>
          <a href="/merchants/<%= merchant.id %>" class="btn btn-primary">Show</a>
          <a href="/merchants/<%= merchant.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_merchant/<%= merchant.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
